html {
  font-size: 10px;

}

body {
  background: #ffc600;
font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  font-size: 20px;
}
.words {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 400px;
overflow-y: auto;
}
.words div {
  border: 1px solid black;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  background: white;
}

.words {
max-width: 500px;
margin: 50px auto;
background: white;  
padding: 20px;
border-radius: 2px;

}